<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Your Cart</h1>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr id="product-<%= product.id %>">
              <td class="title"><%= product.title %></td>
              <td><%= product.price %></td>
              <td><%= link_to 'Remove', 'javascript:;', id: "remove-#{product.id}", data: { id: product.id, target: '#message', toggle: 'modal', price: product.price }, class: 'btn btn-warning remove-btn' %></td>
            </tr>
          <% end %>
          <tr>
            <td><strong>Sub Total:</strong></td>
            <td class="price-subtotal"><%= @sub_total %></td>
          </tr>
          <tr>
            <td><strong>Grand Total:</strong></td>
            <td class="price-total"><%= @total %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div>
          <%= form_tag discounts_validate_path, method: 'post', remote: true do %>
            <%= label_tag :coupon, 'Coupon #:' %>
            <%= text_field_tag :coupon, "", required: true, class: 'form-control' %>
            <%= submit_tag 'Submit', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="pull-right">
          <%= link_to 'Proceed to checkout', '#', class: 'btn btn-success' %>
        </div>
      </div>
    </div>

    <%= link_to 'Back to products', products_path %>
  </div>
</div>

<a id="modal-link" class="hidden" data-target="#message" data-toggle="modal" href="javascript:;"></a>

<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="message">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
