<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <%= render partial: 'info', locals: { user: current_user } %>
  <hr />

  <h2>Products</h2>

  <%= render partial: 'products/products'%>

  <%= paginate @products, param_name: "product_page" %>
  <hr />

  <h2>Reviews</h2>

  <%= render partial: 'reviews/reviews' %>

  <%= paginate @reviews, param_name: "review_page" %>
</div>
