<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>
<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Profile Picture:</b>
  <%= image_tag @user.fetch_attachment_url  if @user.attachment.present?%>
</p>

<%= link_to 'Edit', edit_user_registration_path(@user) %>
