<h1><%= @user.first_name %></h1>

<p>
  <strong>Email: </strong>
  <%= @user.email %>
</p>

<p>
  <p><strong>Profile Picture: </strong></p>
  <%= image_tag @user.profile_picture_url, size: '200x200' if @user.attachment.present? %>
</p>

<h1>Products</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Price</th>
  </tr>

  <%= render @products %>
</table>

<%= paginate @products %>
