<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-lg-offset-3">
    <h1>Order Details</h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td><strong>Shipped To</strong></td>
            <td><%= @order.shipping_address %></td>
          </tr>
          <tr>
            <td><strong>Created</strong></td>
            <td><%= @order.created_at %></td>
          </tr>
          <tr>
            <td><strong>Amount Paid</strong></td>
            <td>$<%= @order.total %></td>
          </tr>
          <tr>
            <td><strong>Discount Availed</strong></td>
            <td>$<%= @order.discount %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Item</th>
          </tr>
        </thead>
        <tbody>
          <% @order.products.each do |product| %>
            <tr>
              <td><%= product.title %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
