<tr>
  <td><%= product.title %></td>
  <td><%= product.body.truncate(120) %></td>
  <td>$<%= product.price %></td>
  <td class="actions">
    <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, product %>
    <% if owner?(product.user_id) %>
      <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_product_path(product) %>
      <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
</tr>
