<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="title text-center">Products</h1>

    <%= paginate @products %>
      <div id="products" class="row list-group">
        <% @products.each do |product| %>
          <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
              <div class="thumb-image">
                <%= image_tag product.attachments.first.photo.url, size: '200x200', class: 'group list-group-image' if product.attachments.present? %>
              </div>
              <div class="caption">
                <h4 class="group inner list-group-item-heading"><%= product.title %></h4>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="lead">$<%= product.price %></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <%= link_to 'Show', product, class: 'btn btn-primary' %>
                    <%= link_to 'Add to cart', 'javascript:;', id: "add-#{product.id}", data: { id: product.id, target: '#message', toggle: 'modal', price: product.price }, class: 'btn btn-success add-btn' unless item_in_cart?(product) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    <%= link_to 'New Product', new_product_path %>
  </div>
</div>
<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="message">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
