<div>
  <h1><%= @product.title %></h1>
</div>

<div>
  <%= @product.body %>
</div>

<div>
  <strong>Price:</strong>
  <%= @product.price %>
</div>

<div>
  <div><strong>Images:</strong></div>
  <% @product.attachments.each do |attachment| %>
    <%= image_tag attachment.photo.url(:small) %>
  <% end %>
</div>

<h1>Reviews</h1>

<div id="reviews">

  <%= render @product.reviews %>
</div>

<div id="errors" class="hidden">
  <strong>Errors:</strong>
  <ul></ul>
</div>

<%= render 'reviews/review_form' unless owner?(@product.user_id) %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Go to reviews page', product_reviews_path(@product) %> |
<%= link_to 'See owner', user_path(@product.user) %> |
<%= link_to 'Back', products_path %>
