<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.body %></td>
    <td><%= link_to 'Show', product_review_path(@product, review) %></td>
    <% if owner?(product.user_id) %>
      <td><%= link_to 'Edit', edit_product_review_path(@product, review) %></td>
      <td><%= link_to 'Destroy', product_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_product_review_path(@product) %> |
<%= link_to 'Back', product_path(@product) %>
