<!DOCTYPE html>
<html>
<head>
  <title>Demoproject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render partial: "layouts/flash_messages" %>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/modal' %>
</body>
</html>
